<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Task</button>
    </form>
    <ul>
        {% for task in list_of_task %}
            <li>{{ task }}<a href="{% url 'to_do_app:delete-task' task.pk %}"></tr><button type="submit">Delete</button></a><br><br></li>

        {% endfor %}
    </ul>
</body>
</html>